In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.2.4'

In [3]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [9]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(ser)

print(ser['a'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.25

In [11]:
population_dict = {'california':38332521,
                  'texas':26448193,
                  "new york":19651127,
                  'florida':19552860,
                  'illinois':12882135}

population = pd.Series(population_dict)
print(population)

print(population['california':'new york'])

california    38332521
texas         26448193
new york      19651127
florida       19552860
illinois      12882135
dtype: int64
california    38332521
texas         26448193
new york      19651127
dtype: int64

In [12]:
area_dict = {'california':423967,
                  'texas':695662,
                  "new york":141297,
                  'florida':170312,
                  'illinois':149995}

area = pd.Series(area_dict)
print(area)

california    423967
texas         695662
new york      141297
florida       170312
illinois      149995
dtype: int64

In [16]:
states = pd.DataFrame({'population':population, 'area':area})
print(states)

print(states.index, '\n')
print(states.columns)

            population    area
california    38332521  423967
texas         26448193  695662
new york      19651127  141297
florida       19552860  170312
illinois      12882135  149995
Index(['california', 'texas', 'new york', 'florida', 'illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [19]:
arr = np.random.rand(3, 2)
print(arr, '\n')

df = pd.DataFrame(arr, columns=['foo', 'bar'], index=['a', 'b', 'c'])

print(df)

[[0.39893937 0.37939126]
 [0.32772056 0.17191893]
 [0.05665893 0.13626836]]

        foo       bar
a  0.398939  0.379391
b  0.327721  0.171919
c  0.056659  0.136268

In [23]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

print(ser, '\n')
print('a' in ser)
print(0.25 in ser)

print(ser.index)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

True
False
Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
print(ser.keys())
ser['e'] = 1.25
ser['a'] = 0.125

print(ser)

Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [29]:
states['density'] = states['population'] / states['area']
print(states)

            population    area     density
california    38332521  423967   90.413926
texas         26448193  695662   38.018740
new york      19651127  141297  139.076746
florida       19552860  170312  114.806121
illinois      12882135  149995   85.883763

In [32]:
states.iloc[:3]

            population    area     density
california    38332521  423967   90.413926
texas         26448193  695662   38.018740
new york      19651127  141297  139.076746

In [33]:
print(states.loc[states.density > 100,['population', 'density']], '\n')

          population     density
new york    19651127  139.076746
florida     19552860  114.806121